
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background: linear-gradient(to right, #e0eafc, #cfdef3);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .login-head{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;     
        border-radius: 40%;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        margin-bottom :25px;
        padding :10px;
    }

    .login-icon {
        display: block;
        margin-left:5px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .login-box {
        background: #ffffff;
        padding: 50px 50px;
        border-radius: 12px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
    }

    .login-box h2 {
        text-align: center;
        margin: 10px;
        color: #333;
    }

    input {
        width: 100%;
        padding: 12px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
        transition: border-color 0.3s ease;
    }

    input:focus {
        border-color: #0078D7;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 120, 215, 0.3);
    }

    .btn-panel{
        width: 100%;
        display: block;
        text-align: center;
    }
    button {
        width: 100%;
        padding: 12px;
        background: linear-gradient(to right, #0078D7, #00b4db);
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background 0.3s ease;
        margin: 15px;
       
        text-align: center;
    }

    button:hover {
        background: linear-gradient(to right, #005fa3, #0090b0);
    }

    .error {
        color: #d8000c;
        background-color: #fff;
        padding: 12px 15px;
        border-radius: 6px;
        margin-top: 15px;
        font-size: 14px;
    }
